<!DOCTYPE html>
<html>
<head>
    <title>practice</title>
    <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   


    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
          <div class="header item"><i class="code icon"></i>
            Blog Post
          </div>
          <a class="item" href="/">
            Home
          </a>
          <a class="item" href="/blogs/new">
            New Post
          </a>
        </div>
      </div>



