<%- include('header'); -%>
<header class="jumbotron">
    <h1>This is the landing page of our website</h1>
    <a href="/campgrounds">click to see different campgrounds</a>
</header>

<%- include('footer'); -%>